.page {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--colors-text-text-primary-900);
}

.quarters {
  display: flex;
  border: 1px solid var(--colors-border-border-secondary);
  border-radius: 8px;
  width: 450px;

  background: var(--colors-background-bg-secondary-alt);
}

.quarterBtn {
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  width: 100%;
  height: 36px;
  cursor: pointer;
  transition: all 0.2s ease;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  color: var(--colors-text-text-quaternary-500);
  background: var(--colors-background-bg-secondary-alt);
}

.active {
  background: var(--colors-background-bg-primary-alt);
  border: 1px solid var(--colors-border-border-primary);
  border-radius: 8px;
  padding: 8px 12px;
  width: 100%;
  height: 36px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  color: var(--colors-text-text-secondary-700);
}

.tableWrapper {
  margin-top: 24px;
  border: 1px solid var(--colors-border-border-secondary);
  border-radius: 12px;
  background: var(--colors-background-bg-primary);
  overflow: hidden;
}

/* Header */
.tableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px;
}

.left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tableTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  color: var(--colors-text-text-primary-900);
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--colors-border-border-primary);
  background: var(--colors-background-bg-primary);
  border-radius: 6px;
  padding: 2px 6px;
  
  height: 22px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: var(--colors-text-text-secondary-700);
}

.right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.searchBox {
  display: flex;
  align-items: center;
  border: 1px solid var(--colors-border-border-primary);
  border-radius: 8px;
  padding: 8px 12px;
  width: 296px;
  height: 40px;
  background: var(--colors-background-bg-primary);

  input {
    border: none;
    outline: none;
    font-size: 14px;
    margin-left: 6px;
    width: 100%;
    background: var(--colors-background-bg-primary);
    height: 100%;
  }

  .searchIcon {
    stroke: var(--colors-foreground-fg-quaternary-400);
  }

  .shortcut {
    font-size: 12px;
    color: var(--colors-text-text-tertiary-600);
    margin-left: 8px;
    background: var(--colors-background-bg-secondary-alt);
    border-radius: 4px;
    padding: 2px 6px;
  }
}

.addBtn {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  color: var(--colors-text-text-white);
  border: none;
  background: var(--colors-background-bg-brand-solid);
  border-radius: 8px;
  padding: 10px 14px;
  width: 136px;
  height: 40px;
  cursor: pointer;
  transition: background 0.2s ease;

  &:hover {
    background: var(--colors-brand-600);
  }
}

/* Table */
.table {
  border-top: 1px solid var(--colors-border-border-secondary);
}

.row {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 80px;
  align-items: center;
  border-bottom: 1px solid var(--colors-border-border-secondary);
  padding: 16px 24px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: var(--colors-text-text-primary-900);
  border-bottom: 1px solid var(--colors-border-border-secondary);

  &:last-child {
    border-bottom: none;
  }
}

.head {
  border-bottom: 1px solid var(--colors-border-border-secondary);
  padding: 12px 24px;
  background: var(--colors-background-bg-primary);
  height: 44px;
}

.menuTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  color: var(--colors-text-text-quaternary-500);
}
.topic {
  font-weight: 500;
  color: var(--colors-text-text-primary-900);
}

/* Status */
.status {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  text-align: center;

  padding: 4px 8px;
  border-radius: 6px;
  width: fit-content;
}

.done {
  border: 1px solid var(--success-200);
  background: var(--component-colors-utility-success-utility-success-50);
  color: var(--success-700);
}

.planned {
  border: 1px solid var(--component-colors-utility-blue-utility-blue-200);
  border-radius: 6px;
  padding: 4px 8px;
  

  background: var(--component-colors-utility-blue-utility-blue-50);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: var(--blue-700);
}

/* Actions */
.actionsBtns {
  display: flex;
  gap: 8px;
  justify-content: flex-end;

  button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    color: var(--colors-text-text-quaternary-500);

    &:hover {
      color: var(--colors-text-text-primary-900);
    }
  }
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;

  font-size: 14px;
  color: var(--colors-text-text-secondary-700);

  .leftBox {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .leftBoxTitle {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: var(--colors-text-text-secondary-700);
  }

  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    /* фон и стрелка */
    background-color: var(--colors-background-bg-primary);
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%236b7280' stroke-width='2' viewBox='0 0 24 24'><path d='M6 9l6 6 6-6'/></svg>");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 16px;

    /* размеры */
    width: 189px;
    height: 36px;

    /* отступ справа под стрелку */
    padding: 6px 36px 6px 12px;

    /* стиль текста */
    border: 1px solid var(--colors-border-border-primary);
    border-radius: 8px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--colors-text-text-placeholder);

    cursor: pointer;
  }

  .pageBtns {
    display: flex;
    gap: 8px;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--colors-border-border-primary);
      border-radius: 8px;
      padding: 8px 12px;
      width: 76px;
      height: 36px;
      cursor: pointer;
      background: var(--colors-background-bg-primary);
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 14px;
      line-height: 143%;
      color: var(--colors-text-text-secondary-700);

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }

      &:hover:not(:disabled) {
        background: var(--colors-background-bg-secondary-alt);
      }
    }
  }
}
