.page {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--colors-text-text-primary-900);
}

.refreshBtn {
  display: flex;
  align-items: center;
  gap: 6px;
  border: 1px solid var(--colors-border-border-primary);
  border-radius: 8px;
  padding: 10px 14px;
  width: 142px;
  height: 40px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  color: var(--colors-text-text-secondary-700);
  background: var(--colors-background-bg-primary);
  cursor: pointer;
  transition: background 0.2s ease;

  &:hover {
    background: #f9fafb;
  }

  svg {
    font-size: 16px;
  }
}

.gradeBlock {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}

.gradeTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  color: var(--colors-text-text-primary-900);
}

/* Сетка карточек */
.cards {
  display: flex;
  
  gap: 24px;
}

.card {
  background: var(--colors-background-bg-primary);
  border: 1px solid var(--colors-border-border-secondary);
  border-radius: 12px;
  padding: 20px;
  width: 252px;
  height: 106px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s ease;
  cursor: pointer;

  &:hover {
    border-color: #6d28d9;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    transform: translateY(-2px);
  }
}

.teacher {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: var(--colors-text-text-tertiary-600);
  margin-bottom: 8px;
}

.className {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 30px;
  line-height: 127%;
  color: var(--colors-text-text-primary-900);
}
