.page {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--colors-text-text-primary-900);
}

.cards {
  display: flex;
  margin-top: 12px;
  gap: 24px;
}

.card {
  background: var(--colors-background-bg-primary);
  border: 1px solid var(--colors-border-border-secondary);
  border-radius: 12px;
  padding: 20px;
  width: 252px;
  height: 106px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s ease;
  cursor: pointer;

  &:hover {
    border-color: var(--colors-brand-600);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    transform: translateY(-2px);
  }
}

.subject {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: var(--colors-text-text-tertiary-600);
  margin-bottom: 8px;
}

.className {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 30px;
  line-height: 127%;
  color: var(--colors-text-text-primary-900);
}
