.bottomNav {
  position: fixed;
  bottom: 0;
  width: 100%;

  height: 78px;
  background: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #ddd;
  z-index: 10;
}

.navItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  text-decoration: none;
  font-size: 12px;
  color: #aeaeb2;
  padding: 8px;
  width: 100%;
  height: 78px;

  span {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    text-align: center;
    color: var(--primary);
  }

  img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    transition: filter 0.3s ease;
  }
}

.active {
  color: var(--colors-text-text-brand-secondary-700);
  background: #e2e8fe;

  span {
    color: #1a215b;
  }

  img {
    filter: brightness(0) saturate(100%) invert(10%) sepia(10%) saturate(1000%)
      hue-rotate(200deg);
  }
}

@media (min-width: 1000px) {
  .bottomNav {
    display: none;
  }
}
