.edit {
  padding: 16px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0 16px;
}

.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--colors-text-text-primary-900);
}

.actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.dateBtn {
  display: flex;
  align-items: center;
  gap: 6px;
  border: 1px solid var(--colors-border-border-secondary);
  background: #fff;
  border-radius: 8px;
  padding: 6px 12px;
  font-size: 14px;
  cursor: default;

  svg {
    font-size: 16px;
  }
}

.saveBtn {
  background: var(--colors-background-bg-brand-solid);
  color: var(--colors-text-text-white);
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background: #6b46c1;
  }
}

.body {
    border-top: 1px solid var(--colors-border-border-secondary);
    padding: 0 150px;
    padding-top: 20px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 16px;
}

.label {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  color: var(--colors-text-text-primary-900);
}

.input {
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 10px 14px;
  font-size: 14px;
  font-family: var(--font-family);
  outline: none;

  &:focus {
    border-color: #7c3aed;
    box-shadow: 0 0 0 2px rgba(124, 58, 237, 0.2);
  }
}


.uploadCard {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.uploadBox {
  border: 1px solid var(--colors-border-border-secondary);
  border-radius: 12px;
  padding: 24px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  transition: border-color 0.3s;

  &:hover {
    border-color: #6c63ff;
  }
}

.uploadLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.uploadIcon {
  border: 1px solid var(--colors-border-border-primary);
  border-radius: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 19px;
    height: 17px;
  }
}

.link {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  color: var(--colors-text-text-brand-secondary-700);
}

.hint {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: var(--colors-text-text-tertiary-600);
}

