.page {
  min-height: 100vh;
  background: var(--colors-background-bg-primary);
  padding-bottom: 80px;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);

  h2 {
    font-size: 16px;
    font-weight: 600;
  }

  .backIcon {
    position: absolute;
    left: 16px;
    font-size: 22px;
    cursor: pointer;
  }
}

.mainBox {
  padding: 16px;

  .title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
  }

  /* src/pages/Student/LectureDetail/LectureDetail.module.scss */

  .content {
    p {
      font-size: 16px;
      line-height: 1.6;
      margin-bottom: 12px;
    }

    ul {
      padding-left: 20px;
      margin: 12px 0;

      li {
        margin-bottom: 6px;
        font-size: 15px;
      }
    }

    img {
      width: 100%;
      max-width: 100%;
      height: 280px; /* фиксированная высота */
      object-fit: cover; /* сохраняет пропорции */
      border-radius: 8px;
      margin: 16px 0;
    }
  }

  .materialsCard {
    margin-top: 20px;
    background: #fff;
    border-radius: 8px;
    padding: 12px;
    border: 1px solid #eee;
  }

  .materialsTitle {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    color: var(--colors-text-text-quaternary-500);
  }

  .materialsList {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .materialItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #f2f2f2;

    &:last-child {
      border-bottom: none;
    }
  }

  .fileIcon {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: 600;
    color: #fff;
    margin-right: 12px;

    &.pdf {
      background: #ef4444;
    }
    &.jpg {
      background: #9333ea;
    }
    &.mp4 {
      background: #3b82f6;
    }
    &.docx {
      background: #0ea5e9;
    }
    &.mp3 {
      background: #ec4899;
    }
    &.xls {
      background: #22c55e;
    }
    &.ppt {
      background: #f97316;
    }
  }

  .fileInfo {
    flex: 1;
    display: flex;
    flex-direction: column;

    .fileName {
      font-size: 14px;
      font-weight: 500;
      color: var(--colors-text-text-primary-900);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 180px;
    }

    .fileSize {
      font-size: 12px;
      color: var(--colors-text-text-tertiary-600);
    }
  }

  .downloadBtn {
    background: none;
    border: none;
    font-size: 18px;
    color: var(--colors-brand-600);
    cursor: pointer;
  }
}
