/* src/Layout/Student/StudentLayout.module.scss */
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;      /* фиксируем высоту */
  overflow: hidden;   /* убираем глобальный скролл */
}

.content {
  flex: 1;
  overflow-y: auto;   /* скроллим только внутри */
 

  /* скрываем полосу прокрутки */
  -ms-overflow-style: none;  /* IE и Edge */
  scrollbar-width: none;     /* Firefox */
  &::-webkit-scrollbar {
    display: none;           /* Chrome, Safari */
  }
}

.bottomNav {
  position: fixed;   /* всегда внизу */
  bottom: 0;
  left: 0;
  width: 100%;
  height: 64px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  border-top: 1px solid #ddd;
  background: #fff;
  z-index: 10;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    color: #666;
    text-decoration: none;

    svg {
      font-size: 20px;
      margin-bottom: 2px;
    }

    &.active {
      color: #262962; // брендовый цвет
    }
  }
}