.page {
  min-height: 100vh;
  background: var(--colors-background-bg-secondary);
}

.header {
  position: relative;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background: var(--colors-background-bg-primary);

  h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--colors-text-text-primary-900);
  }
}

.backIcon {
  position: absolute;
  left: 16px;
  font-size: 22px;
  cursor: pointer;
}
.backIcon {
  font-size: 22px;
  cursor: pointer;
}

.mainBox {
  padding: 16px;
}

/* Карточка статуса */
.statusCard {
  border: 1px solid var(--colors-border-border-secondary);
  border-radius: 12px;
  padding: 16px;
  width: 100%;
  height: 158px;
  margin-bottom: 16px;
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 12px;
}

.subject {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: var(--colors-text-text-primary-900);
}

.date {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: var(--colors-text-text-tertiary-600);
  margin-top: 2px;
}

.status {
  border-radius: 9999px;
  padding: 2px 8px 2px 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
}

/* Graded */
.success {
  color: #027a48;
  background: #ecfdf3;
  border: 1px solid #a6f4c5;
}

/* Not submitted */
.failed {
  color: #b42318;
  background: #fef3f2;
  border: 1px solid #fecdca;
}

/* Pending */
.pending {
  color: #b54708;
  background: #fffaeb;
  border: 1px solid #fedf89;
}

.resultBox {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 12px;
}

.resultItem {
  flex: 1;
}

.withBorder {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.value {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: var(--colors-text-text-primary-900);
}

.label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--colors-text-text-tertiary-600);
}

/* Dars maruzasi */
.lectureCard {
  border: 1px solid var(--colors-border-border-secondary);
  border-radius: 12px;
  padding: 16px;
  width: 100%;

  margin-bottom: 16px;
  background: var(--colors-background-bg-primary);

  h4 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: var(--colors-text-text-primary-900);
    margin-bottom: 8px;
  }

  p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: var(--colors-text-text-tertiary-600);
    margin-bottom: 8px;
  }

  .linkBtn {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--colors-brand-600);
    background: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
  }
}

.uploadCard {
  .uploadTitle {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: var(--colors-text-text-primary-900);
    margin-bottom: 12px;
  }
}

.uploadBox {
  border: 1px solid var(--colors-border-border-secondary);
  border-radius: 12px;
  padding: 16px 24px;
  width: 100%;
  text-align: center;
  padding: 24px;
  cursor: pointer;
  transition: border-color 0.3s;

  &:hover {
    border-color: #6c63ff;
  }
}

.uploadLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.uploadIcon {
  border: 1px solid var(--colors-border-border-primary);
  border-radius: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 19px;
    height: 17px;
  }
}

.link {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  color: var(
    --colors-text-text-brand-secondary-700
  ); // брендовый цвет (фиолетовый)
}

.hint {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: var(--colors-text-text-tertiary-600);
}

.fileList {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.fileItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--colors-border-border-secondary);
  border-radius: 12px;
  padding: 16px;
  width: 100%;
  height: 74px;
  position: relative;

  &.error {
    border: 1px solid #f87171;
    background: #fff5f5;
  }
}

.fileIcon {
  min-width: 40px;
  height: 40px;
  border-radius: 8px;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 12px;
}

.fileInfo {
  flex: 1;
  margin-left: 12px;

  .fileName {
    font-weight: 600;
    font-size: 14px;
  }
  .fileSize {
    font-size: 12px;
    color: #666;
  }
}

.successText {
  color: green;
  font-size: 12px;
  margin-left: 8px;
}

.uploadingText {
  color: orange;
  font-size: 12px;
  margin-left: 8px;
}

.errorText {
  color: red;
  font-size: 12px;
  margin-left: 8px;
}

.deleteBtn {
  position: absolute;
  right: 2%;
  top: 12%;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.iconDow {
  color: #a4a7ae;
}
