.page {
  min-height: 100vh;
  padding-bottom: 80px;
  background: var(--colors-background-bg-secondary);
}

.mainBox {
  padding: 0 16px;
}

.header {
  padding: 0 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
  background: var(--colors-background-bg-primary);
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
  justify-content: space-between;
  height: 136px;
}

.logoutBtn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--colors-text-text-tertiary-600);
  transition: color 0.2s;

  &:hover {
    color: var(--error-600);
  }
}

.avatar {
  border-radius: 9999px;

  width: 56px;
  height: 57px;
  border-radius: 50%;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
}

.welcome {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--colors-text-text-tertiary-600);
}

.name {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: var(--colors-text-text-primary-900);
}

/* ... предыдущие стили для header остаются */

.taskCard {
  background: var(--colors-background-bg-brand-solid);
  border-radius: 12px;
  padding: 16px;
  width: 100%;
  height: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.taskLeft {
  display: flex;
  align-items: center;
  gap: 12px;
}

.taskTitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--colors-text-text-white);
  gap: 6px;
  display: flex;
  align-items: center;
}

.badge {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: var(--component-colors-utility-error-utility-error-50);
  border-radius: 9999px;
  padding: 0px 6px;
  width: 20px;
  height: 18px;
  background: var(--error-600);
}

.taskSubtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: var(--colors-text-text-placeholder-subtle);
}

.arrow {
  font-size: 22px;
  font-weight: bold;
  opacity: 0.8;
}

.quickLinks {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  gap: 16px;
}

.quickItem {
  flex: 1;
  border: 1px solid var(--colors-border-border-primary);
  border-radius: 12px;
  padding: 20px 12px;
  width: 100%;
  height: 94px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 14px;
  color: #333;
  background: var(--colors-background-bg-primary);
}

.quickLabel {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  color: var(--colors-text-text-secondary-700);
}

//Таблица

.schedule {
  margin-top: 20px;

  .scheduleHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;

    h3 {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 18px;
      line-height: 156%;
      color: var(--colors-text-text-primary-900);
    }

    span {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      color: var(--colors-text-text-tertiary-600);
    }
  }

  .lessonGrid {
    display: grid;
    grid-template-columns: 1fr; // одна колонка (как в моб. дизайне)
    gap: 12px;
  }

  .lessonItem {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    border: 1px solid var(--colors-border-border-secondary);
    border-radius: 12px;
    width: 100%;
    height: 84px;
    padding-left: 16px;
  }

  .subject {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: var(--colors-text-text-primary-900);
  }

  .teacher {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--colors-text-text-tertiary-600);
  }

  .timeBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f4ebff;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 6px 12px;
    width: 87px;

    height: 100%;

    .start {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      color: var(--colors-brand-600);
    }

    .end {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: var(--colors-brand-500);
    }
  }
}
